body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1{
    background-color: black;
    color: greenyellow;
    text-align-last: center;
}

a{
    color: greenyellow;
    background-color: black;
}

address{text-align: center;}

section{ color: black;text-align-last: center; background-color: yellow;}
footer{ color: black; background-color: grey;}
nav{ color: black;}
li{color: greenyellow; background-color: grey;}
p{ color: greenyellow;padding: 20px; text-align: center;}
h3{background-color: yellow;}